.womenOnChair
  min-height: 779px
  background-color: #f7f7f7

.imgswitch
  display: block
  text-decoration: none
  width: 48px
  height: 48px
  background-color: #2a2a2a
  color: #ffffff
  font-size: 24px
  font-weight: 400
  line-height: 48px
  text-align: center

.collection
  &__border
    border: 1px solid #eaeaea
    margin-top: -80px
    background-color: #ffffff
    position: relative
    z-index: 1

.topcol
  width: 620px
  border-bottom: 1px solid #eaeaea
  padding: 40px 260px
  text-align: center
  &__pagination
    &_name
      color: #f16d7f
      font-size: 14px
      font-weight: 700
      line-height: 24px
      text-transform: uppercase

  &__heading
    color: #4d4d4d
    font-size: 18px
    font-weight: 400
    line-height: 24px
    text-transform: uppercase
    margin-bottom: 60px
  &__description
    color: #5e5e5e
    font-size: 14px
    font-weight: 300
    line-height: 24px

.textcol
  width: 335px

.text_material
  display: inline-block
  font-size: 14px
  font-weight: 700
  line-height: 24px
  color: #b9b9b9
  text-transform: uppercase
  &-name
    color: #2f2f2f
    margin-right: 30px

.colprice
  color: #ef5b70
  font-size: 24px
  font-weight: 700
  line-height: 24px
