@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@contentWidth: 1140px;
@navcolor: #222;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

// Основной блок стилей:
//ширина контента на страницу
.container {
    width: @contentWidth;
    margin: 0 auto;
}

.marginblock {
    margin: 0 50px;
}

.flex {
    display: flex;
    &-jcsb {
        display: flex;
        justify-content: space-between;
        &-aic {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.liStyle-none {
    list-style: none;

    a {
        text-decoration: none;
    }
}

.heigth100 {
    height: 100%;
}

.header {
    border-style: solid;
    border-width: 1px;
    border-color: #ececec;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    height: 100px;

    &__flex {
        display: flex;
        justify-content: space-between;
        height: 100%;

        &-left,
        &-right {
            display: flex;
            align-items: center;
        }
    }
}

.logo {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;

    &__span {
        color: #222222;
        font-size: 27px;
        font-weight: 300;
        line-height: 20px;
        padding-left: 13px;

        &-letterRed {
            color: #f16d7f;
            font-weight: 900;
        }

    }

    &:hover {
        box-shadow: 0 2px 5px 1px #ccc;
    }

    &:active {
        top: 2px;
        box-shadow: 0 0 5px #ccc;
    }
}

.headerForm {
    padding-left: 37px;

    &__btnBrws {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: #e6e6e6;
        box-sizing: border-box;
        background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
        width: 87px;
        height: 38px;

        &:hover {
            font-weight: 700;
            text-decoration: underline;
        }
    }

    &__input {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: #e6e6e6;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 317px - 38px;
        height: 38px;
        color: #a4a4a4;
        font-size: 14px;
        font-weight: 300;
        line-height: 10px;
        padding: 0 5px;
    }

    &__btnSrch {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: #e6e6e6;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 38px;
        height: 38px;
        color: #a4a4a4;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;

        &:hover {
            background: #f9f9f9;
        }
    }
}


.headerRight__card {
    margin-right: 26px;

    &:hover {
        outline: 1px solid;
        box-sizing: border-box;
    }
}

.headerRight__account {
    text-decoration: none;
    padding: 13px 19px;
    background-color: #f16d7f;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;

    &:hover {
        background-color: #c43c4f;
    }
}

.triangle {
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -7px;
    left: 45px;
    transform: rotate(45deg) skew(-8deg, -8deg);
    border-top: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}

.megamenu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #e9e9e9;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    display: none;
    top: 45px;
    left: -26px;

    &__flex {
        min-width: 237px;
        margin-right: 44px;

        &:last-child {
            margin-right: 0;
        }

        h3 {
            border-bottom: 2px solid #e8e8e8;
            font-size: 14px;
            font-weight: 400;
            line-height: 32px;
            text-transform: uppercase;
            letter-spacing: 0.35px;
            margin-bottom: 10px;
        }
        ul {
            list-style-type: none;
        }
        a {
            color: #646464;
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.35px;
            line-height: 28px;

            &:hover {
                color: #f16d7f;
            }
            
        }
        img {
                margin-top: 15px;
            }
    }
}

.theBrand {
    background-color: #e8e8e8;
    height: 665px;
}

.navBGColor {
    background-color: #fff;
}

.nav {
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__ul {
        display: flex;
        text-transform: uppercase;
        list-style: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 10px;

        & > li {
            position: relative;
            &:hover .megamenu {
                display: flex;
            }
            & > a {
                display: block;
                text-decoration: none;
                padding: 19px 22px;
                color: @navcolor;
                &:hover {
                    transition: 1s;
                    background: #f16d7f;
                    color: #ffffff;
                }
            }
        }

        &-active {
            border-bottom: 3px solid #ef5b70;


        }
    }
}

.brandFlex {
    display: flex;
    align-items: center;
}

.brand-img {
    height: 614px;
    background-image: url(img/bgbrand.jpg);
    background-position: -235px -51px;
}

.brandText {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;

    &__h2 {
        color: #222;
        font-size: 60px;
        font-weight: 900;
        line-height: 45px;
    }

    &__h4 {
        color: #222222;
        font-size: 40px;
        font-weight: 900;
        line-height: 29px;
        margin-top: 20px;

        &-red {
            color: #f16d7f;
            font-size: 40px;
            font-weight: 900;
            transform: scaleY(1.0009);
        }
    }
}

.alldiscount_parent {
    height: 1020px - 50px;
    background-color: #fff;
    padding-top: 98px;
    padding-bottom: 49px;
    box-sizing: border-box;
}

.alldiscount {
    //    margin: 100px auto 50px;
    height: 823px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

    &__article-high,
    &__article-low {
        position: relative;

        &:hover {
            outline: 2px solid #222;
        }

    }

    &__article-high {
        height: 542px;
    }

    &__article-low {
        height: 261px;
    }
}

.discountspecification {
    position: absolute;
    left: 0;
    top: 26px;
    display: block;
    padding: 16px 19px;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    &__link-h6 {
        color: #222222;
        font-size: 18px;
        font-weight: 900;
        line-height: 14px;
    }

    &__link-h4 {
        color: #f16d7f;
        font-size: 30px;
        font-weight: 900;
        line-height: 23px;
        margin-top: 13px; //эта строка не хочет сама в цсс перекодироваться, пришлось руками дописать
    }

    &:hover {
        background-color: #ccc;
    }
}

.fetured_parent {
    //    height: 1095px;
}

.Fetured {
    height: 982px;

    &__header {
        margin-top: 50px;
        color: #222222;
        font-size: 30px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
        margin-bottom: 16px;
    }

    &__description {
        color: #9f9f9f;
        font-size: 14px;
        font-weight: 400;
        line-height: 23xp;
        text-align: center;
        margin-bottom: 20px;
    }

    &__seeall {
        text-transform: capitalize;
        text-decoration: none;
        display: block;
        background-color: #f16d7f; //        width: 212px;
        //        height: 48px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;
        padding: 0 15px;
        box-sizing: border-box;

        &:hover {
            color: #222;
        }
    }
}



.items_parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; //    height: 766px;
}

.item {
    width: 263px;
    height: 364px;
    position: relative;
    text-decoration: none;
    margin-top: 40px;

    &:hover {
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
    }

    &:hover &__card {
        display: block;
    }

    &:hover &__img {
        filter: brightness(17%)
    }

    &__linktoproduct {
        text-decoration: none;
    }

    &__name {
        margin: 20px 15px 17px;
        color: #222222;
        font-size: 13px;
        font-weight: 400;
        line-height: 11px;
        text-transform: uppercase;
    }

    &__price {
        padding-left: 15px;
        padding-bottom: 21px;
        color: #f16d7f;
        font-size: 16px;
        font-weight: 700;
        line-height: 15px;
    }

    &__card {
        position: absolute;
        top: 0;
        left: 0; //        background-color: rgba(58, 56, 56, 0.83);
        width: 263px;
        height: 281px;
        text-align: center;
        display: none;
        padding-top: 100px;
        box-sizing: border-box;

        &-link {
            display: inline-flex;
            margin: 0 2, 5px;
            align-items: center;
            padding: 8px;
            outline: 2px solid #fff;
            text-decoration: none;
            color: #ffffff;

            font-size: 13px;
            font-weight: 700;
            line-height: 10px;

            &:hover {
                text-decoration: underline;
                color: #f16d7f;
            }

            img {
                margin-right: 5px;
            }
        }
    }
}

.seeall_parent {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

.offer {
    display: flex;
    margin-top: 50px;
    margin-bottom: 97px;
}

.offerdiscount {
    position: relative;

    img {
                height: 100%;
    }

    &__text {
        position: absolute;
        top: 146px;
        left: 39px;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;

        &-main {
            color: #ffffff;
            font-size: 54px;
            font-weight: 700;

            &RED {
                color: #f16d7f;
            }
        }

        &-second {
            color: #ffffff;
            font-size: 32px;
            font-weight: 700;
        }
    }
}

.offerDescription {
    width: 100%;
    background-color: #222224;
    display: flex;
    flex-direction: column;

    &Cells {
        display: flex;
        margin-left: 36px;
        margin-top: 48px;

        &__img {
            align-self: flex-start;
            margin-right: 33px;
        }

        &__text {
            width: 226px;

            &-head {
                margin-top: 7px;
                color: #fbfbfb;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0.5px;
                line-height: 16px;
            }

            &-description {
                margin-top: 17px;
                /* Style for "Worldwide" */
                color: #fbfbfb;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0.35px;
            }
        }
    }
}

.subscribe {
    background-color: #eeeeee;
    background-image: url(img/subscribebg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 438px;
    margin-bottom: 50px;
}



.leftblock {
    display: flex;
    padding-top: 111px;

    &__imgface {
        margin-right: 28px;
        align-self: flex-start
    }

    &__text {
        padding-top: 12px;
        letter-spacing: 0.4px;
        font-size: 16px;
        color: #222224;
        line-height: 26px;


        &-opinion {
            width: 411px;
            font-size: 16px;
            font-style: italic;
        }
        &-name {
            color: #f16d7f;
            font-weight: 700;
            margin-top: 19px;
            margin-bottom: 1px;
            line-height: 14px;
        }
        &-place {
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.3px;
            line-height: 12px;
            font-family: "Lato Light";
        }
    }
}

.rightblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__text-header {
        color: #222224;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0.6px;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 14px;
    }

    &__text-opinion {
        letter-spacing: 0.35px;
        line-height: 12px;
        text-transform: uppercase;
    }

}

.pagination {
    display: flex;
    align-items: center;
    margin-top: 40px;

    &__rectangle {
        display: block;
        background-color: #d6d6d6;
        margin: 0 6px;
        width: 38px;
        height: 4px;

        &:hover {
            background-color: #f16d7f;
        }

    }
    .active {
        background-color: #f16d7f;
    }
}



.subscribeform {
    margin-top: 35px;

    &__mail {
        width: 282px;
        height: 46px;
        border-radius: 23px 0 0 23px;
        background-color: #e1e1e1;
        border: none;

        opacity: 0.67;
        color: #222224;
        font-size: 14px;
        font-weight: 400;
        padding: 0 28px;
        box-sizing: border-box;
    }

    &__btn {
        width: 104px;
        height: 46px;
        border-radius: 0 23px 23px 0;
        background-color: #f16d7f;
        border: none;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;

        &:hover {
            color: #222;
        }
    }
}

.footer {}

.footerhigh {
    padding-top: 50px;
    padding-bottom: 80px;
}

.logocopy {
    &__text {
        margin-top: 29px;
        width: 405px;
        color: #898989;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
}

.company {}

.list__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 42px; //        width: 101px;
    a {
        color: #898989;

        &:hover {
            color: #f16d7f;
        }
    }
}

.footerlow {
    height: 79px;
    background: #e6e6e6;

    &__copyright {
        color: #7a7a7a;
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
        text-transform: capitalize;
    }
    &__social {
        display: flex;

        &-square {
            display: block;
            text-align: center;
            line-height: 32px;
            color: #b2b2b2;
            background: #ffffff;
            width: 32px;
            height: 32px;
            margin: 0 4px;


            &:hover {
                background-color: #f16d7f;
                color: #f7f7f8;
            }
        }
    }
}

.category_head {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 40px;
} //Products
.ptb60 {
    padding: 60px 0;
}

.breadcrumbs_parent {
    background-color: #f8f3f4;
    padding: 65px 0;
}

.breadcrumbs {
    /* Style for "New Arriva" */
    color: #f16d7f;
    font-weight: 400;
    text-transform: uppercase;

    &__name {
        line-height: 18px;
        color: #f16d7f;
        font-weight: 400;
    }

    &__nav {

        text-transform: uppercase;

        a {
            text-decoration: none;
            color: #636363;
            font-size: 14px;
            font-weight: 300;
            line-height: 11px;

            &.bread-active {
                color: #f16d7f;
                font-weight: 700;

            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.catalog_parent {
    background-color: #fff;
}

.aside {
    padding-right: 25px;
    width: 245px;

    details {
        margin-top: 18px;
    }
    summary::-webkit-details-marker {
        display: none;
    }
    summary:after {
        text-align: right;
        content: '\25BC';
    }
    details[open] summary:after {
        content: "\25B2"
    }
    summary {
        border-left: 5px solid #ef5b70;
        text-transform: uppercase;
        padding-left: 10px;
        color: #ef5b70;
        font-size: 14px;
        font-weight: 700;
        line-height: 37px;
        border-bottom: 1px solid #ebebeb;
    }
    .category {
        list-style-type: none;
        padding-left: 12px;

        a {
            color: #6f6e6e;
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 33px;

            &:hover {
                color: #ef5b70;
            }
        }
    }

}

.catalog {
    padding-left: 25px;
    width: 846px;
}

.catalogProducts {
    flex-wrap: wrap;
}

.plr15 {
    padding: 0 15px;
}

.filter {

    &__sort {
        padding-left: 15px;
        background-color: #f3f3f3;
        height: 50px;
        line-height: 50px;

        color: #6f6e6e;
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
        label {
            padding: 5px 5px 6px;
            border: 1px solid #ebebeb;
            border-right: 0;
            box-sizing: border-box;
            height: 30px;
            background-color: #fff;
        }
        select {
            height: 30px;
            padding: 0 10px;
            border: 1px solid #ebebeb;
            background-color: #ffffff;
            color: #6f6e6e;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
        }
    }
    &__main {
        padding: 18px 0;
        fieldset {
            border: 0;
            width: 240px;

            label {
                width: 55px;
                display: inline-block;
                margin-top: 13px;
                color: #6f6e6e;
                font-family: "Open Sans";
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                text-transform: uppercase;

                input {
                    width: 25px;
                    border: 1px solid #ebebeb;
                    background-color: #ffffff;
                }

            }
        }
        &-text {
            color: #6f6e6e;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
        }
    }
}

.offerDescription-Product {
    padding: 90px 0;
}

.discountwoman-product {
    background-color: #222224;
}

.offerDescription-productCells {
    text-align: center;
    padding: 0 40px;
    color: #fbfbfb;
    &__text {
        &-head {
            padding: 15px 0 10px;
            font-size: 20px;
            font-weight: 700;
        }
        &-description {
            font-size: 14px;
            font-weight: 300;
            line-height: 23.95px;
        }
    }
}

.trending {
    a {
        display: block;
        text-decoration: none;
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;

        &:hover {
            font-weight: bold;
            color: #ef5b70;
        }
    }
}

.price {
    width: 265px;

}

.range {
    width: 100%;
    -webkit-appearance: none;
    border-radius: 2px;
    height: 10px;
    outline: none;
    border: 1px solid #D4D4D4;
}

.catalogFooter {
    &__nav {
        height: 44px;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        box-sizing: border-box;
        ul {
            list-style-type: none;
            display: flex;

            li {
                margin: 0 10px;
            }

            a {
                text-decoration: none;
                color: #c4c4c4;
                font-size: 16px;
                font-weight: bold;
                line-height: 44px;
                &:hover {
                    color: #ef5b70;

                }
            }
        }

    }

    &__btn {
        width: 150px;
        height: 44px;
        border-radius: 3px;
        border: 1px solid #ef5b70;
        background-color: #ffffff;
        box-sizing: border-box;

        color: #ef5b70;
        font-size: 16px;
        font-weight: bold;
        line-height: 44px;

        &:hover {
            background-color: #ef5b70;
            color: #fff;
        }
    }
}
